<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9vuGYNSzj8D43DTbZuFayk5q4ROqg4cU</string>
	<key>GCM_SENDER_ID</key>
	<string>569981153807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vasilii.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>messenger-796d7</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-796d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569981153807:ios:1bed40ac143f995756697a</string>
</dict>
</plist>